{% extends 'base.html' %} {% load static %} {% block title %}Homepage{% endblock title %} {% block content %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href="#">
                <img src="{% static 'images/logo.png'%}" height="15" alt="logo" loading="lazy" />
            </a>
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'sender' %}">Email sender</a>
                </li>
            </ul>
            <!-- Left links -->
        </div>

        <!-- Avatar -->
        <div class="dropdown">
            <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuAvatar" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="25" alt="Black and White Portrait of a Man" loading="lazy" />
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                <li>
                    <a class="dropdown-item" href="#">My profile</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">Settings</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">Logout</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->
<!-- main body section -->
<div class="container">
    <h1 class="text-center">
        Welcome to Bulk Email Sender
    </h1>
    <!-- <img style="height: 300px; width: 300px;" class="avatar rounded-circle thumbnail-sm" src="https://scontent.fpkr1-1.fna.fbcdn.net/v/t39.30808-6/316172750_1589065418162971_3365864782713170668_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeGGiTWFzH8Z3t0KrtKa9_Y_36Rpp-WCeU7fpGmn5YJ5Tum-HGBmw3XiCz3nHfH9VdKIbQLb9PNae26SQBwfqfE1&_nc_ohc=iWyFMGGvYSQAX8NCqbK&_nc_ht=scontent.fpkr1-1.fna&oh=00_AfC_RIwU3M8UJVYvolC-kxN4uZ9pJ21IR5688zeTD9UCnw&oe=63964FE7 "
        alt=" "> -->
    <!-- connect with the author -->
    <!-- <a href=" "><i class="fab fa-facebook "></i></a>
    <a href=" "><i class="fab fa-instagram "></i></a>
    <a href=" "><i class="fab fa-github "></i></a>
    <a href=" "><i class="fab fa-linkedin "></i></a> -->

    <button type="button " class="btn btn-outline-primary text-center " data-mdb-ripple-color="dark ">Email Sender</button>

</div>

{% endblock content %}